*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.CropRecommender {
    background-color: #C5D8A4;
    position: fixed;
    width: 100vw;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
}

.form {
    background-color: white;
    width: 60vw;
    margin: 3% auto;
    padding: 2%;
    border: 2px solid green;
    border-radius: 7%;
}

.heading {
    margin-bottom: 2%;
    color: green;
}