*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.Home {
    background-image: url('../images/background.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    color: #2525254c;
}

.Buttons {
    margin: auto;
}