.locationForm {
    margin: 10%;
    text-align: left;
}

.geolocationForm {
    margin: 10%;
    text-align: left;
}

.latLong {
    margin: 10%;
    text-align: left;
}

.field {
    margin-top: 10px;
}