*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.FertilizerRecommender {
    background-color: #bf9ca6;
    min-width: 100vw;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin-top: 0px; */
    padding-top: 3rem;
    padding-bottom: 100px;
}

.fertilizerForm {
    background-color: white;
    width: 50vw;
    margin: auto;
    padding: 2%;
    border: 2px solid brown;
    border-radius: 7%;
    position: inherit;
}

.Fheading {
    margin-bottom: 2%;
    color: brown;
}

#location {
    align-self: flex-start;
}

#state-select, #city-select {
    text-align: start;
}